.navbar{
    padding:20px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
}

.navbar-menu li a{
    text-decoration: none;
    color: #df1010;
    padding-bottom: 4px;
}

.navbar-menu li a.active{
    border-bottom: 2px solid #494949;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #494949;
    border:1px solid tomato ;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: white;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position:absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -6px;
    right: -6px;
}

/* ========== RESPONSIVE ========== */

@media (max-width:1500px){
    .navbar .logo{ width: 140px; }
    .navbar-menu{ gap: 20px; font-size: 17px; }
    .navbar-right{ gap: 30px; }
}

@media (max-width:900px){
    .navbar-menu{ gap: 15px; font-size: 16px; }
    .navbar-right{ gap: 20px; }
    .navbar button{ padding: 7px 20px; font-size: 15px; }
}

@media (max-width:750px){
    .navbar-menu{ display: none; }
}

/* ultra wide */
@media (min-width:1800px){
    .navbar{ padding: 10px 40px; }
}
