.footer {
  background: #2f2f2f;
  color: #fff;
  padding: 80px 8vw 20px;
  margin-top: 100px;
}

.footer-content {
  max-width: 1200px;     /* keeps layout aligned like image 1 */
  margin: auto;          /* centers container, not content */
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* important */
  gap: 20px;
}

.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  color: #ccc;
}

.footer-content-center li:hover,
.footer-content-right li:hover {
  color: #fff;
}

.footer-content-center h2,
.footer-content-right h2 {
  color: white;
  font-size: 20px;
}

.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
}

.footer-divider {
  width: 100%;
}

.footer-divider hr {
  width: 100%;
  height: 2px;
  background-color: #777;
  border: none;
  margin: 40px 0 20px;
}


@media (max-width: 900px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
 .footer-copyright {
  text-align: center;
  color: #aaa;
}
}

